@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --primary: #ffffff;
    --secondary: #f8f9fb;
    --accent-blue: #2ca0ff;
    --accent-blue-dark: #1E88E5;
    --accent-blue-light: #317AF1;
    --accent-purple: #b5d7ff;
    --background-card: #ebf5fb;
    --text-primary: #1c1c1c;
    --text-secondary: #747d8a;
    --text-gray: #9ca3af;
    --background: #F4F8FE;
    --background-hover: #77b2f5;
    --border-color: #e2e8f0;
    --star-color: #FFD700;
    --state-success: #66BB6A;
    --state-error: #EF5350;
    --state-warning: #FDD835;
    --state-info: #42A5F5;
    --star-color: #FFD700;
    --gradient-start: #FF862F;
    --gradient-middle: #F85A5A;
    --gradient-end: #A050E5;
    --card-bg: #d6eaf8;
    --card-text: #8C8ABE;
    --card-icon-bg: #97BCF8;
  }

  .dark {
    --primary: #1E1D39;
    --secondary: #1E1E3F;
    --accent-blue: #2196F3;
    --accent-blue-dark: #1E88E5;
    --accent-blue-light: #317AF1;
    --accent-purple: #53509E;
    --background-card: #454384;
    --text-primary: #ffffff;
    --text-secondary: #8C8ABE;
    --text-gray: #9ca3af;
    --background: #29294f;
    --background-hover: #77b2f5;
    --border-color: #53509E;
    --star-color: #FFD700;
    --state-success: #66BB6A;
    --state-error: #EF5350;
    --state-warning: #FDD835;
    --state-info: #42A5F5;
    --star-color: #FFD700;
    --gradient-start: #FF862F;
    --gradient-middle: #F85A5A;
    --gradient-end: #A050E5;
    --card-bg: #38356a;
    --card-text: #8C8ABE;
    --card-icon-bg: #2A284F;
  }
}