html, body, #root {
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/eot/IRANSansWeb(FaNum).eot") format("eot"),
       url("./fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
       url("./fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/eot/IRANSansWeb(FaNum)_Bold.eot") format("eot"),
       url("./fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
       url("./fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/eot/IRANSansWeb(FaNum)_Light.eot") format("eot"),
       url("./fonts/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
       url("./fonts/ttf/IRANSansWeb(FaNum)_Light.ttt") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRANSans";
  src: url('./fonts/IRANSansWeb(FaNum)_Medium.eot') format('embedded-opentype'),
       url('./fonts/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IRANSans', sans-serif;
  font-weight: 400;
}



